In [1]:
import os

In [2]:
os.getcwd()

'c:\\Users\\pm353\\Desktop\\Picasso\\photographer_finder_app\\backend'

In [3]:
os.listdir()

['app.py',
 'Explore.ipynb',
 'instance',
 'models',
 'routes',
 'services',
 'utils',
 '__init__.py',
 '__pycache__']

In [4]:
# backend/app.py
from flask import Flask, jsonify
from flask_sqlalchemy import SQLAlchemy
from flask_migrate import Migrate

# Initialize Flask app
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///photographers.db'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False

# Initialize database and migration
db = SQLAlchemy(app)
migrate = Migrate(app, db)

In [14]:
# Import models
from models.user import User
from models.booking import Booking
from models.review import Review

from app import app, db
from models.user import User

with app.app_context():
    # Create tables
    db.create_all()
    print("Tables:", db.metadata.tables)

    # Add a test user
    new_user = User(
        id=4654,
        username="jasvdohn_asefgdoe",
        email="john@exaaefadmple.com",
        password="hasheadvaedvd_password",
        role="client"
    )
    db.session.add(new_user)
    db.session.commit()

    # Verify user is added
    users = User.query.all()
    print(users)

Tables: FacadeDict({'user': Table('user', MetaData(), Column('id', Integer(), table=<user>, primary_key=True, nullable=False), Column('username', String(length=80), table=<user>, nullable=False), Column('email', String(length=120), table=<user>, nullable=False), Column('password', String(length=200), table=<user>, nullable=False), Column('role', String(length=10), table=<user>, nullable=False), schema=None), 'booking': Table('booking', MetaData(), Column('id', Integer(), table=<booking>, primary_key=True, nullable=False), Column('client_id', Integer(), ForeignKey('user.id'), table=<booking>, nullable=False), Column('photographer_id', Integer(), ForeignKey('user.id'), table=<booking>, nullable=False), Column('time', DateTime(), table=<booking>, nullable=False), Column('status', String(length=10), table=<booking>, default=ScalarElementColumnDefault('pending')), schema=None), 'review': Table('review', MetaData(), Column('id', Integer(), table=<review>, primary_key=True, nullable=False), Column('photographer_id', Integer(), ForeignKey('user.id'), table=<review>, nullable=False), Column('client_id', Integer(), ForeignKey('user.id'), table=<review>, nullable=False), Column('rating', Integer(), table=<review>, nullable=False), Column('comment', String(length=500), table=<review>), schema=None)})
[<User john_doe>, <User john_asefgdoe>, <User jasvdohn_asefgdoe>]

In [21]:
with app.app_context():
    # Fetch all rows in the User table
    all_users = User.query.all()
    
    # Print the results
    for user in all_users:
        print(
            f"ID: {user.id}, 
            Username: {user.username}, 
            Email: {user.email}, 
            Role: {user.role}"
            )

ID: 123, Username: john_doe, Email: john@example.com, Role: client
ID: 225, Username: john_asefgdoe, Email: john@exaadmple.com, Role: client
ID: 4654, Username: jasvdohn_asefgdoe, Email: john@exaaefadmple.com, Role: client

In [25]:
with app.app_context():
    # Create an engine from the database connection
    engine = db.engine

    # Query the User table and load it into a DataFrame
    query = "SELECT * FROM user"
    df = pd.read_sql(query, engine)

    # Display the DataFrame
    print(df)

     id           username                  email                password  \
0   123           john_doe       john@example.com         hashed_password
1   225      john_asefgdoe     john@exaadmple.com      hasheadvd_password
2  4654  jasvdohn_asefgdoe  john@exaaefadmple.com  hasheadvaedvd_password

     role
0  client
1  client
2  client

In [26]:
df

,id,username,email,password,role
0,123,john_doe,john@example.com,hashed_password,client
1,225,john_asefgdoe,john@exaadmple.com,hasheadvd_password,client
2,4654,jasvdohn_asefgdoe,john@exaaefadmple.com,hasheadvaedvd_password,client

In [27]:
with app.app_context():
    db.reflect()  # Reflect the database structure
    print(db.metadata.tables.keys())

dict_keys(['user', 'booking', 'review'])